<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap">
                <img src="/admin/admin-assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/product-list"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <!-- <a href="/admin/admin-page-products-list.html">Product List</a> -->
                        <a href="/admin/product-list">Product List</a>
                        <!-- <a href="/admin/admin-page-products-grid-2.html">Product grid 2</a> -->
                        <a href="/admin/product-categories">Product Categories</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/admin-page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/order-list">Order list </a>
                        <!-- <a href="/admin/admin-page-orders-2.html">Order list 2</a>
                        <a href="/admin/admin-page-orders-detail.html">Order detail</a> -->
                    </div>
                </li>
               
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/user-list"> <i class="icon material-icons md-store"></i>
                        <span class="text">UserManagement</span>
                    </a>
                    <div class="submenu">
                        <!-- <a href="/admin/admin-page-sellers-cards.html">Sellers cards</a> -->
                        <a href="/admin/user-list">List Users</a>
                        <!-- <a href="/admin/admin-page-seller-detail.html">Seller profile</a> -->
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/add-product"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <!-- <a href="/admin/admin-page-form-product-1.html">Add product 1</a> -->
                        <!-- <a href="/admin/admin-page-form-product-2.html">Add product 2</a> -->
                        <a href="/admin/add-product">Add product </a>
                       
                        <!-- <a href="/admin/admin-page-form-product-4.html"></a> -->
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/add-coupon"> <i class="icon material-icons md-store"></i>
                        <span class="text">Coupon Management</span>
                    </a>
                    <div class="submenu">
                        <!-- <a href="/admin/admin-page-sellers-cards.html">Sellers cards</a> -->
                        <a href="/admin/add-coupon">List Coupon</a>
                        <!-- <a href="/admin/admin-page-seller-detail.html">Seller profile</a> -->
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/sales-report"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sales Management</span>
                    </a>
                    <div class="submenu">
                        <!-- <a href="/admin/admin-page-sellers-cards.html">Sellers cards</a> -->
                        <a href="/admin/sales-report">Sales Report</a>
                        <!-- <a href="/admin/admin-page-seller-detail.html">Seller profile</a> -->
                    </div>
                </li>
                

                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/admin-page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/admin-page-transactions-1.html">Transaction 1</a>
                        <a href="/admin/admin-page-transactions-2.html">Transaction 2</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/admin-#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/admin-page-account-login.html">User login</a>
                        <a href="/admin/admin-page-account-register.html">User registration</a>
                        <a href="/admin/admin-page-error-404.html">Error 404</a>
                    </div>
                </li> -->
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category-offer"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Category Offer</span>
                    </a>
                </li>
                <!-- <li class="menu-item">
                    <a class="menu-link" href="/admin/admin-page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/admin-#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li> -->
            </ul>
            <hr>
           
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                 
                   
                    <li>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

   

     
       
   <section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Dashboard </h2>
            <p>Whole data about your business here</p>
        </div>
        <!-- <div>
            <a href="#admins="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
        </div> -->
    </div>
   
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-12">
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">Monthly statistics</h5>
                    <label for="yearSelector">Select Year:</label>
                    <select id="yearSelector1" >
                        <option value="">selectYear</option>
                        <% yearlyDatas.forEach(function(year) { %>

                            <option value="<%= year%>"><%= year %></option>
                            
                        <% }); %>
                    </select>
                    <canvas id="myChart" height="120px"></canvas>
                    <input type="hidden" value="<%= JSON.stringify(monthlyData) %>" id="salesReport">
                </article>
            </div>
            
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">Yearly statistics</h5>
                    <!-- <label for="yearSelector1">Select Year:</label> -->
<!--              -->
                   
                    <canvas id="yearlySales" height="120px"></canvas>
                    <input type="hidden" value="<%= JSON.stringify(yearlyData) %>" id="yearlyReport">
                </article>
            </div>
            
            
            <div class="row">
                <div class="col-lg-5">
                    <div class="card mb-4">
                        <article class="card-body">

                            <h5 class="card-title">Best Selling Products</h5>
                            <div class="new-member-list">
                                <% for (let i = 0; i < bestSellingProduct.length; i++) { %>
                                    <div class="d-flex align-items-center">
                                        <img src="<%= bestSellingProduct[i].productImage[0] %>" alt="" class="avatar">
                                        <div>
                                            <h6><%= bestSellingProduct[i].productName %></h6>
                                        </div>
                                    </div>
                                <% } %>

                               
                                    
                                
                           
                        </article>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Best selling Brands</h5>
                            <canvas id="brand" height="217"></canvas>
                            <input type="hidden" value="<%= JSON.stringify(bestBrand) %>" id="branddata">


                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">Order Status</h5>
                    <canvas id="myDoughnutChart" height="217"></canvas>
                    <input type="hidden" value="<%= JSON.stringify(orderData) %>" id="order">
                </article>
            </div>
            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">Category selling</h5>
                    
                    <canvas id="progresschart" height="217"></canvas>
                  <input type="hidden" value="<%= JSON.stringify(bestCategory) %>" id="category">
                </article>
            </div>
        </div>
    </div>
 
</section>

    </section>    
    </main>
    <script src="/admin/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin/admin-assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/admin/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</body>



<script>

document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("yearSelector1").addEventListener("change", function() {
        const selectedYear = this.value; // Get the selected value of the <select> element
            
        const url = `/admin/dashboard?selectedYear=${selectedYear}`; // Construct the URL with the selected year as a query parameter

        // Redirect the page to the constructed URL
        window.location.href = url;
    });
});



        // Doughnut Chart
        var ctxDoughnut = document.getElementById('myDoughnutChart').getContext('2d');
        const orderString = document.getElementById("order").value
        
        const order = JSON.parse(orderString)
        const colory =  [
              'rgb(20, 229, 34)',
              'rgb(255, 148, 6)',
              'rgb(20, 83, 229)',
              'rgb(255, 6, 6)',
              'rgb(229, 20, 139)'
            ]
        let colors = [] 
        let status = []
        let count = []
        for(let i =0;i< order.length;i++){
            status.push(order[i]._id)
            colors.push(colory[i])
            count.push(order[i].count)
        }
        
        var doughnutData = {
          labels: status,
          datasets: [{
            label: 'My First Dataset',
            data: count,
            backgroundColor:colors,
            hoverOffset: 4
          }]
        };
      
        var doughnutConfig = {
          type: 'doughnut',
          data: doughnutData,
        };
      
        var myDoughnutChart = new Chart(ctxDoughnut, doughnutConfig);





    ///////////////////////////////////////////////////////////////////////////////////    

        if ($('#myChart').length) {
            const salesReport =  JSON.parse( document.getElementById("salesReport").value)
               // console.log(salesReport);
          var ctx = document.getElementById('myChart').getContext('2d');
          const allMonths = Array.from({ length: 12 }, (_, i) => i + 1); // Array representing all months (1 to 12)
        
           const monthlyDataMap = new Map(salesReport.map(item => [item._id, item.totalAmount]));
           const months = [
                "January", "February", "March", "April", "May", "June", 
                "July", "August", "September", "October", "November", "December"
        ]
             ;
           
            const monthlyDataFilled = allMonths.map(month => ({ _id: month, totalAmount: monthlyDataMap.get(month) || 0 }));
            //  console.log(monthlyDataFilled)
          var chart = new Chart(ctx, {
            type: 'line',
            data: {
              labels:months.map((month)=>month),
              datasets: [{
                  label: 'Sales',
                  tension: 0.3,
                  fill: true,
                  backgroundColor: 'rgba(44, 120, 220, 0.2)',
                  borderColor: 'rgba(44, 120, 220)',
                  data: monthlyDataFilled.map((product)=>product.totalAmount)
                },
                
              ]
            },
            options: {
              plugins: {
                legend: {
                  labels: {
                    usePointStyle: true,
                  },
                }
              }
            }
          });
        }
      //////////////////////////////////////////////////////////////////////////////

      if ($('#yearlySales').length) {
            const yearlyReport = JSON.parse(document.getElementById("yearlyReport").value)
            const currentYear = new Date().getFullYear()
            
            let labels = []
            let totalAmount =[]
            const color = [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ]
        let colors =[]
        let borderColor =[
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ]
                    let borderColors =[]
            for(let i =0;i< yearlyReport.length;i++){
                labels.push(yearlyReport[i]._id)
                totalAmount.push(yearlyReport[i].totalAmount)
                colors.push(color[i])
                borderColors.push(borderColor[i])
            }
            const data = {
                labels: labels,
                datasets: [{
                    label: "",
                    data: totalAmount,
                    backgroundColor: colors,
                    borderColor: borderColors,
                    borderWidth: 1
                }]
            };
        
            const config = {
                type: 'bar',
                data: data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };
        
            // Render the chart
            var ctx = document.getElementById('yearlySales').getContext('2d');
            var myChart = new Chart(ctx, config);
        }


        
/////////////////////////////////////////////////////////////////////////////////////////


const categoryString = document.getElementById("category").value;
        const category = JSON.parse(categoryString);

// Now you can access the individual objects in the array
let categoryName =[]
let colours =[]
let colour = [
              'rgb(0,139,139)',
                'rgb(124,252,0)',
                'rgb(255,165,0)'
              ]
let categoryCount = []
for (let i = 0; i < category.length; i++) {
    categoryName.push(category[i]._id.name)
    colours.push(colour[i])
    categoryCount.push(category[i].count)

}
     
        const pieConfig = {
          type: 'pie',
          data: {
            labels: categoryName,
            datasets: [{
              label: 'My First Dataset',
              data: categoryCount,
              backgroundColor: colours,
              hoverOffset: 4
            }]
          },
        };
    
      
        // Get the canvas element by id
        var progressChart = document.getElementById('progresschart').getContext('2d');
      
        // Create a new Chart instance for the pie chart
        var myPieChart = new Chart(progressChart, pieConfig);


////////////////////////////////////////////////////////////////////////////////////////////




const brandCtx = document.getElementById('brand').getContext('2d');
 const branddstring = document.getElementById("branddata").value

 
 const brand = JSON.parse(branddstring)
 let counts =[]
 const bColor = [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)',
      'rgb(134, 228, 92)',
      'rgb(255, 255, 0)',
      'rgb(66, 0, 220)',
      'rgb(220, 23, 0)'
    ]
let bColors =[]
 let brandName =[]
 for(let i=0;i< brand.length;i++){
    counts.push(brand[i].count)
    brandName.push(brand[i]._id)
    bColors.push(bColor[i])
 }
const brandData = {
  labels:brandName, // Replace with your brand names
  datasets: [{
    label: 'Best Selling Brands',
    data: counts, // Replace with your actual sales data for each brand
    backgroundColor:bColors,
    hoverOffset: 4
  }]
};

const brandConfig = {
  type: 'doughnut',
  data: brandData,
};

const brandChart = new Chart(brandCtx, brandConfig);








</script>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>