<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css"
    />
    <!-- DataTables Buttons CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.css"
    />

    <!-- datatables time date -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/datetime/1.5.2/css/dataTables.dateTime.min.css"
    />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/admin-index.html" class="brand-wrap">
                <img src="/admin/admin-assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/product-list"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/product-list">Product List</a>
                        <!-- <a href="/admin/admin-page-products-grid.html">Product grid</a>
                        <a href="/admin/admin-page-products-grid-2.html">Product grid 2</a> -->
                        <a href="/admin/product-categories">Product Categories</a>
                    </div>
                </li>
                <li class="menu-item has-submenu ">
                    <a class="menu-link" href="/admin/order-list"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/order-list" >Order list </a>
                        <!-- <a href="/admin/admin-page-orders-2.html">Order list 2</a>
                        <a href="/admin/admin-page-orders-detail.html">Order detail</a>
                    </div> -->
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/user-list"> <i class="icon material-icons md-store"></i>
                        <span class="text">User Management</span>
                    </a>
                    <div class="submenu">
                        <!-- <a href="/admin/admin-page-sellers-cards.html">Sellers cards</a> -->
                        <a href="/admin/user-list">Users list</a>
                        <!-- <a href="/admin/admin-page-seller-detail.html">Seller profile</a> -->
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/add-product   "> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <!-- <a href="/admin/admin-page-form-product-1.html">Add product 1</a>
                        <a href="/admin/admin-page-form-product-2.html">Add product 2</a> -->
                        <a href="/admin/add-product">Add product </a>
                        <!-- <a href="/admin/admin-page-form-product-4.html">Add product 4</a> -->
                    </div>
                </li>
                <li class="menu-item has-submenu active ">
                    <a class="menu-link" href="/admin/sales-report"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sales Management</span>
                    </a>
                    <div class="submenu">
                        <!-- <a href="/admin/admin-page-sellers-cards.html">Sellers cards</a> -->
                         <a href="/admin/sales-report" class="active">Sales Report</a>
                        <!-- <a href="/admin/admin-page-seller-detail.html">Seller profile</a> -->
                    </div>
                </li>
                <li class="menu-item has-submenu " >
                    <a class="menu-link" href="/admin/add-coupon"> <i class="icon material-icons md-store"></i>
                        <span class="text">Coupon Management</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/add-coupon">Coupon</a>
                        <!-- <a href="/admin/admin-page-sellers-list.html">Sellers list</a>
                        <a href="/admin/admin-page-seller-detail.html">Seller profile</a> -->
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category-offer"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Category Offer</span>
                    </a>
                </li>
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/admin-#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/admin-page-account-login.html">User login</a>
                        <a href="/admin/admin-page-account-register.html">User registration</a>
                        <a href="/admin/admin-page-error-404.html">Error 404</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="/admin/admin-page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" href="/admin/admin-page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li> -->
                <!-- <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/admin-#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li> -->
            </ul>
            <hr>
            
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                 
                    <li class="dropdown nav-item">
                   
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
             
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <!-- <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div> -->
                        <!-- <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div> -->
                   <form action="/admin/day-sales" method="post">
                        <div style="display: flex;" class="col-lg-2 col-6 col-md-3" style="display: flex;">
                           

                        
                            <select class="form-select" id="select" name="selectedOption" >
                                <option>All</option>
                                <option value="day">Day</option>
                                <option value="weak">Weak</option>
                                <option value="month">Month</option>
                                <option value="year">Year</option>
                               
                            </select>
                       
                        </div>
                        <!-- <br> -->
                        &nbsp;<p>Custom Date</p>
                        <div class="col-md-2 col-6" style="display: flex;">
                            
                            <input type="date" name="startDate" value="" class="form-control">
                       
                               &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; <input type="date" name="endDate" value="" class="form-control">
                             
                        </div>
                        <div ><button type="submit" style="color: white; background-color: black;" id="button" >Search</button></div>
                       
                    </div>
                 
                </form> 
                </header> <!-- card-header end// -->
                <!-- <div class="col-md-2 col-6" style="display: flex ; margin-left: 10px;">
                    <input type="text"  class="form-control" id="min" name="min">&nbsp;
                   
                        <input type="text"  class="form-control " id="max" name="max">
                    
                </div> -->
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table border="0" >
                        <tbody>
                            <!-- <tr>
                              <td>Minimum date:</td>
                              <td><input type="text" id="min" name="min" /></td>
                            </tr>
                            <tr>
                              <td>Maximum date:</td>
                              <td><input type="text" id="max" name="max" /></td>
                            </tr>
                            <tr class="d-flex justify-content-between">
                              <td><button id="week">Week</button></td>
                              <td><button id="month">Month</button></td>
                              <td><button id="year">Year</button></td>
                            </tr> -->
                          </tbody>
                        </table>
                        <table class="table table-hover" id="orderTable">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Coupon</th>
                                    <th scope="col">Original Price</th>
                                    <th scope="col">Discounted Price</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col" class="text-end"> Payment method </th>
                                </tr>
                            </thead>
                            <tbody>
                               
                               <%orders.forEach((order)=>{%>

                                <%let orderId = order._id.toString().slice(8,13)%>
                                <tr>
                                   

                                    <td><%= orderId %></td>
                                    <td><%=order.userId.email %></td>
                                    <% if(order.status == "cancelled") {%>
                                    
                                        <td><span id="order-id" data-order.id="<%=order._id %>" class="badge rounded-pill alert-warning"><%= order.status %>  </span></td>
                                        
                                         <% }else{%>
                                            <td><span id="order-id" class="badge rounded-pill alert-success"><%= order.status %>  </span></td>
                                         <%} %>

                                   
                                         <td><% const dateString = new
                                            Date(order.orderedDate).toLocaleDateString('en-US', {
                                            day: '2-digit', month: 'short', year: 'numeric' }); %>
                                            <%= dateString %></td>
                                  
                                        <% if(order.couponId){ %>
                                         <td>Coupon Applied</td>
                                          <% }else{ %>
                                          <td>Coupon not Applied</td>
                                          <% } %>

                                          <td ><h5 style="color: green; "><%=order.totalPrice%></h5></td>

                                         <% if(order.discountTotal){%>
                                            <td><h5 style="color: green;"><%=order.discountTotal%></h5></td>
                                         <%}else{%>
                                            <td><h5 style="color: green;"><%=order.wcTotal  %></h5></td>
                                         <% } %>
                                         
                                    
                                 
                                        
                                        <% if(order.discountTotal){%>
                                           <% let discount = order.totalPrice - parseInt(order.discountTotal) %>
                                            <td><h5 style="color: green;"><%=discount%></h5></td>
                                         <%}else{%>
                                            <% let discount = order.totalPrice - parseInt(order.wcTotal) %>
                                            <td><h5 style="color: green;"><%=discount  %></h5></td>
                                         <% } %>
                                   
                                   
                                    
                                    <td class="text-end"> <%= order.payment %></td>
                                    
                                </tr>
                            
                                <% })%>

                                <% if(orderOriginalPrice == 0){%>

                                <%}else{%>
                                <tr>
                                    <td ><h4>Total</h4></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-decoration: underline; "><h4 ><%=orderOriginalPrice %></h4></td>
                                    <td style="text-decoration: underline; "><h4 ><%=orderDiscountPrice %></h4></td>
                                    <td style="text-decoration: underline; "><h4 ><%=totalDiscount %></h4></td>
                                    <td></td>
                                </tr>
                                
                              <% } %> 
                             
                             
                            
                                
                              
                                
                                
                               
                            </tbody>
                            
                        </table>
                        
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <!-- <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="/admin/admin-#">01</a></li>
                        <li class="page-item"><a class="page-link" href="/admin/admin-#">02</a></li>
                        <li class="page-item"><a class="page-link" href="/admin/admin-#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="/admin/admin-#">...</a></li>
                        <li class="page-item"><a class="page-link" href="/admin/admin-#">16</a></li>
                        <li class="page-item"><a class="page-link" href="/admin/admin-#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <!-- <script data-cfasync="false" src="/admin/admin-../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"/>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <script src="/admin/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin/admin-assets/js/main.js" type="text/javascript"></script>
    <!-- <script>new DataTable('#my-table', {
        pagingType: 'simple_numbers'
    });</script>
     -->
    <!-- <script>
      const selectElements = document.querySelectorAll("#my-select");

      selectElements.forEach((selectElement)=>{
        selectElement.addEventListener("change", async function(event) {
      const selectedOption = event.target.value;
      const orderId = event.target.getAttribute("data-id")
      console.log(orderId );
    
      console.log("Selected option:", selectedOption);
      const data = {selectedOption,orderId}
      console.log(data);
      try {
        
        
        const response = await fetch("/admin/status-update",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify(data)

        })
        
        
        if(response.ok){
            const responseData = await response.json()
            console.log(responseData);
           window.location.href = responseData.redirect
        }
      } catch (error) {
        console.log(error);
      }
       })
  
      })
       
      
    </script> -->



<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.5.2/js/dataTables.dateTime.min.js"></script>

<script>
  let minDate, maxDate;

  // Custom filtering function which will search data in column four between two values
  DataTable.ext.search.push(function (settings, data, dataIndex) {
    let min = minDate.val();
    let max = maxDate.val();
    let date = new Date(data[4]);
    console.log("hai");
    console.log("min == ", min, minDate);

    if (
      (min === null && max === null) ||
      (min === null && date <= max) ||
      (min <= date && max === null) ||
      (min <= date && date <= max)
    ) {
        console.log("true");
      return true;
    }
    console.log("falsee");
    return false;
  });

  // Create date inputs
  minDate = new DateTime("#min", {
    format: "MMMM Do YYYY",
  });
  maxDate = new DateTime("#max", {
    format: "MMMM Do YYYY",
  });
console.log("nijas");
  let table = new DataTable("#orderTable", {
    layout: {
      topStart: {
        buttons: [
          "copy",
          "csv",
          {
            extend: "excel",
            text: "Download Excel",
            customize: function (xlsx) {
              console.log(xlsx);
              console.log("hai");
              // Handle Excel customization
              if (xlsx && xlsx[0] && xlsx[0].body && xlsx[0].body.length > 0) {
                var body = xlsx[0].body;

                // Remove last column from each row
                body.forEach(function (row) {
                  row.splice(-1, 1);
                  console.log("hai");
                });

                // Calculate total of the third column for filtered rows
                var filteredRows = table.rows({ search: "applied" }).data();
                var total = filteredRows
                  .pluck(5  , "data")
                  .reduce(function (acc, val) {
                    return acc + parseFloat(val);
                  }, 0);

                // Add total amount to the last row
                body.push([]);
              }
            },
          },
          "print",
          {
            extend: "pdf",
            text: "Download PDF",
            customize: function (doc) {
            //   Remove last column from the table
            

              // Calculate total of the third column for filtered rows
              var filteredRows = table.rows({ search: "applied" }).data();
              var total = filteredRows
                .pluck(5, "data")
                .reduce(function (acc, val) {
                  return acc + parseFloat(val);
                }, 0);

              var totalText = {
                text: "Voxo",
                alignment: "right",
              };

              var marginBeforeTotal = {
                text: "",
                margin: [0, 10], // Margin before the total section
              };
              // Add the text elements to the PDF document
              doc.content.push(marginBeforeTotal, totalText);
            },
          },
        ],
      },
    },
  });

  // Refilter the table
  document.querySelectorAll("#min, #max").forEach((el) => {
    el.addEventListener("change", () => {
        table.draw();
      var total = table
        .column(8) // Change 3 to the index of the column you want to calculate the total for
        .data()
        .reduce(function (acc, val) {
            console.log(val);
          return acc + parseFloat(val);
        }
        , 0);
      console.log(total);

      table.row.add(["Total", "", "", total, "", "", "", ""]);
      
    });
  });

//   document.querySelector("#week").addEventListener("click", (e) => {
//     var startOfWeek = moment().startOf("week");
//     var endOfWeek = moment().endOf("week");
//     var startOfWeekFormatted = startOfWeek.format("MMMM Do YYYY");
//     var endOfWeekFormatted = endOfWeek.format("MMMM Do YYYY");
//     minDate.val(startOfWeekFormatted); // this is the mistake i did in previous code
//     maxDate.val(endOfWeekFormatted);
//     table.draw();
//   });

//   document.querySelector("#month").addEventListener("click", (e) => {
//     var startOfMonth = moment().startOf("month");
//     var endOfMonth = moment().endOf("month");
//     var startOfMonthFormatted = startOfMonth.format("MMMM Do YYYY");
//     var endOfMonthFormatted = endOfMonth.format("MMMM Do YYYY");
//     minDate.val(startOfMonthFormatted);
//     maxDate.val(endOfMonthFormatted);
//     table.draw();
//   });

//   document.querySelector("#year").addEventListener("click", (e) => {
//     var startOfYear = moment().startOf("year");
//     var endOfYear = moment().endOf("year");
//     var startOfYearFormatted = startOfYear.format("MMMM Do YYYY");
//     var endOfYearFormatted = endOfYear.format("MMMM Do YYYY");
//     minDate.val(startOfYearFormatted);
//     maxDate.val(endOfYearFormatted);
//     table.draw();
//   });
</script>
<script>
    document.getElementById('submit').addEventListener('click',(event)=>{
       event.preventDefault()
        const select = document.getElementById('select').value
        
      
    })
</script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>


c